@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --fonte-titulo: 'Inter', sans-serif;
    --fonte-textos:'Inter', sans-serif;
    --cor-primaria: #ffff;
    --cor-secundaria:#C0C0C0; 
    --fonte-cor-botao: #167BF7;
    --cor-fundo: #00030C;
}

*{
    margin: 0%;
        padding: 0%;
        background-color: #00030C;
    }

.body {
    background-color: #00030C;
font-family: var(--fonte-textos);
font-size: 1rem;
font-weight: 400;}


.principal {
 background-image: url("Fotos e Imagens/Background.png");
 background-repeat: no-repeat;
 background-size: contain;
 align-items: center;
 text-align: center;
 
}

 .container {
        height: 100vh;
        background-color: var(--cor-fundo);
        display: grid;
        grid-template-columns: 50% 50%;
        }

.container__botao {
display: block;
text-align: center;
font-weight: 400;
font-size: 16px;
color:var(--cor-primaria);
border-style: solid;
text-decoration: none;
border-radius: 8px;
border-color: var(--fonte-cor-botao);
background-color: var(--fonte-cor-botao);
padding: 1em;
margin-bottom: 1em;


}

.botão_secundario {
    background-color: transparent;
border: 2px solid var(--cor-primaria);
}


.container__titulo {
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cor-primaria) ;
    background-color: transparent;
}

.container__aviso {
    font-size: 0.9rem;
    color: var(--cor-secundaria);
    background-color: transparent;
}

.container__imagem {
    margin: 1em 0 2em 0;
    background-color: transparent;
}

.container__caixa {
    margin: 0 6em;
    background-color: transparent;
}

.secundario__imagem {
    width: 80%;
    align-items: center;}

.secundario { 
    background-color: var(--cor-fundo);
    display: grid;
    grid-template-columns: 50% 50%;
color: var(--cor-primaria);
font-family: var(--fonte-textos);
align-items: center;
 text-align: center;
 margin: 0em 10em 0em;}

 .descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
 }

 .descricao__texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-secundaria);
}

.terciario{
background-color: var(--cor-fundo);
    display: grid;
    grid-template-columns: 50% 50%;
font-family: var(--fonte-textos);
color: var(--cor-secundaria);
align-items: center;
 margin: 0em 10em;}

 .container__paragrafo3 {margin: 3em 3em;
 }

.container__conteudo {
    color: var(--cor-secundaria);
    font-weight: 400;
font-size: 16px;
font-family: var(--fonte-textos);

}

.container__botao3 {

    font-weight: 400;
    font-size: 16px;
    color:var(--cor-primaria);
    border-style: solid;
    text-decoration: none;
    border-radius: 8px;
    padding: 1em;
    border-color: var(--fonte-cor-botao);
    background-color: var(--fonte-cor-botao);
    margin: 0rem 3rem;
}

.container__imagem3{
    display: block;
    width: 40rem;
    align-items: center;
    text-align: center;
    margin: 3rem 2rem;
}

.quarto {
    display: grid;
    grid-template-columns: 50% 50%;
font-family: var(--fonte-textos);
color: var(--cor-secundaria);
align-items: center;
 text-align: start;
 margin: 0em 10em;
}

.container__titulo4 {
   font-size: 3rem;
   color: var(--cor-primaria);
}

.quinto {
       display: flex;
    justify-content: center;
 align-items: center;
 text-align: center;
    font-size: 2.5rem;
    color: var(--cor-primaria);
    height: 10vh;   
}

.sexto{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
    text-align: center;
    color: var(--cor-primaria);
    font-family: var(--fonte-textos);
    font-size: 32px;
    font-weight: 700;
    height: 40vh;
}

.rodape {display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 2rem;
}

.rodape2 {display: flex;
    justify-content: space-between;
    margin: 3rem;
    font-weight: 400;
font-size: 1rem;
color: var(--cor-primaria);
text-decoration: none;
height: 2rem;

}

.botao_rodape {
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-primaria);
    text-decoration: none;
}

.rodape3 { display: flex;
    justify-content: center;
 align-items: center;
 text-align: center;
    font-size: 1rem;
    color: var(--cor-primaria);
    height: 10vh;   
}

.paragrafo_rodape {color: var(--cor-primaria);
    justify-content: center;
    align-items: center;
    text-align: center;
margin-bottom: 2rem;}